@use "base" as *;

body {
  margin: 0;
  padding: 1rem 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color:$color-bg;
  height: 100vh;
  font-family: "Jost", serif;
  color: $color-white;
  gap: 3rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    img{
      width: 100px;
    }
  }
  .header-buttons {
    display: flex;
    gap: 1rem;
    div{
      padding: 1rem;
      &:hover{
        background-color: $color-white;
        color: $color-black;
        border-radius: 5px;
      }
    }

  }
}
main{
  display: flex;
  flex-direction: column;
  .section-title #top-text::after {
    content: "5"; 
    font-weight: bold;
  }
  .top{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 1rem;
    .top-item{
      min-width: 225px;
    }
  }
}

@media screen and (max-width: 1280) {

}
